<% unless liked_books.nil? %>
  <% liked_books.each do |book| %>
    <p id="title"><%= book.title %> (<%= book.release_year %>)</p>
    <p id="author">By <%= book.author.name %></p>
    <%= image_tag book.cover_link %>
    <br>
  <% end %>
<% end %>