<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Book Worm</title>
</head>

<body>
    <div id="top"> 
    <h1><input type="text" id="keyword" placeholder="Book Worm">&nbsp;
<!--     <input type="image"  data-type="remote" id="search" src="../../assets/images/book_worm.jpeg" alt="search" WIDTH=50 HEIGHT=50 border=#ccc /></h1> -->

    <hr></div>  
    
    <!-- display -->
    <div id="viewerCanvas" style="width: 100%; height: 700px"></div>

</body>
</html>