<section class="section" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">   


              <h1 class="title">Stacks 'n Stacks</h1>
              <br>
              <h2 class="subtitle">A literary odyssey</h2>


        <div id="top"> 
          <button type="button" class="btn btn-default btn-lg" data-type="remote" id="search">Read books now</button>
          <hr>
        </div>

        <%= render "embed", :isbn => @isbn %>
        <!-- display -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body" style="height: 100% opacity: 1">
                <div id="viewerCanvas" style="width: 100%; height: 700px; opacity: 1"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn bootstrap-btn-danger" data-type="remote" id="dislike">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
                <button type="button" class="btn bootstrap-btn-primary" data-type="remote" id="like">
                    <span class="glyphicon glyphicon-heart"></span>
                </button>
                <button type="button" class="btn" data-type="remote" id="next">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        </div> <!-- /col -->
      </div> <!-- /row -->
    </div>
</section>

<section class="section" id="liked">
  <div class="container">
    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
      <h1 class="title">Books You've Liked</h1>
    </div>
  </div>
</section>

<%= render 'layouts/about' %>