<section class="section" id="liked">
  <div class="container">
    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
      <h1 class="title">Books You've Liked</h1>
      
    </div>
  </div>
</section>